body {
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	margin:0;
	padding:0
}
div#scroll_block {
	width: 500px;
    height: 500px;
    overflow:hidden; /* hide the scroll bar*/
	margin: 20px auto 0 auto;
	background:#E4E7F0;
	position:relative;
}
div#scroll_content {
    height: 500px;
    width: 485px;
	position:relative;
}
div#scrollbar_holder {
   	background: #ced0d3;
	border-radius:8px;
	float: right;
    width: 15px;
	position:absolute;
	right:0;
}
div.customScrollableContent {
	padding: 0 14px;
}
div.scrollbar {
	background: #7c7d7f;
	border-radius:8px;
	width: 15px;
	top:0;
}